@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
*
{
    margin:0;
    padding:0;
}
:root
{
    --cor--primaria:#2A2F4F;
    --cor-secundaria:#917FB3;
    --cor-tercearia:#f4f8fc;
    --fonte-principal:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat',sans-serif;
}
body
{
    
    box-sizing: border-box; 
    background-color: var(--cor--primaria);
    color: var(--cor-secundaria);
}
.cabecalho
{
    padding:2% 0% 0% 15%; 
    background-color:var(--cor-secundaria);
}
.cabecalho_menu 
{
    background-color:var(--cor-secundaria);
    padding: 20px;
    display: flex;
    gap: 80px;
}   
.cabecalho_menu_link 
{
    font-family:var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-tercearia);
    text-decoration: none;
}   
.apresentacao 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% 15%;
}
.apresentacao_conteudo
{
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_conteudo_titulo
{
    font-size: 36px;
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 600;
}
.apresentacao_conteudo_texto 
{
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-weight: 400;
}
.apresentacao_links 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px; 
}
.apresentacao_links_subtitulo
{
    font-family:var(--fonte-principal);
    color: var(--cor-tercearia);
    font-weight: 400;
    size: 24px;
}
.apresentacao_links_link
{
    
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia); 
    width: 378px;
    text-align: center;
    border-radius: 8px; 
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none; 
    color:var(--cor-secundaria);
    font-family:var(--fonte-secundaria);
}
.apresentacao_links_link:hover 
{
    background-color:var(--cor-tercearia);
}   
.titulo-destaque 
{
    color:var(--cor-tercearia);
}
.rodape
{
    color:var(--cor-tercearia);
    background-color:var(--cor-secundaria);
    padding: 23px;
    text-align: center;
    font-family:'Montserrat',sans-serif ;
    font-size: 24px;
    font-weight: 400;
}
.imagem_Pessoa
{
    Width: 467.71px;
    Height: 532px;
    margin: 30px;
    border-radius: 8%;
}  